[Desktop Entry]
Version=1
Type=Application
Name=ResolucionSiatic
Comment=
Exec=/usr/bin/resolucion_siatic
Icon=/usr/share/pixmaps/siatic.png
Path=
Terminal=false
StartupNotify=false
Name[es]=ResolucionSiatic