[Desktop Entry]
Version=1
Type=Application
Name=ResolucionLTSP
Comment=
Exec=/usr/bin/resolucion_ltsp
Icon=/usr/share/pixmaps/siatic.png
Path=
Terminal=false
StartupNotify=false
Name[es]=ResolucionLTSP