[Desktop Entry]
Version=1
Type=Application
Name=ResolucionSalaProfes
Comment=
Exec=/usr/bin/resolucion_sala_profesores
Icon=/usr/share/pixmaps/siatic.png
Path=
Terminal=false
StartupNotify=false
Name[es]=ResolucionSalaProfes